/*---- People Content ----*/
/*------------------------*/
#people_content {
    position: relative;
}
input.disabled, select.disabled, textarea.disabled {
    background: white;
    border: none;
    color: black;
}



/*---- People Right ----*/
/*----------------------*/
#people_top_right {
    position: absolute;
    top: -10px;
    right: -20px;
    width: 155px;
}
#people_top_right ul {
    list-style: none;
}
#people_top_right  li {
    float: left;
    cursor: pointer;
    margin-right: 16px;
    padding-left: 16px;
    text-decoration: underline;
}
#people_top_right  li:hover {
    color: black;
}


#people_add {
    background: url(../images/Function_Icon/add_16.png) no-repeat scroll left 0 transparent;
}
#people_del {
    background: url(../images/Function_Icon/cancel_16.png) no-repeat scroll left 0 transparent;
}


/*---- People Left ----*/
/*---------------------*/
#people_left{
    width: 150px;
    margin-right: 30px;
    margin-top: 15px;
    float: left;
}

#people_list {
    height: 300px;
    border: 1px solid #2F4279;
    overflow-y: auto;
    overflow-x: hidden;
}

#people_list li.selected {
    background-color: #2F4279;
    color: white;
    border-top: 1px solid #2F4279;
    border-bottom: 1px solid #2F4279;
}

#people_list li {
    cursor: pointer;
    font-size: 10px;
    padding-left: 4px;
    padding-bottom: 2px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
#people_list li:hover {
    color: white;
    background-color: #2F4279;
    border-top: 1px solid #2F4279;
    border-bottom: 1px solid #2F4279;
}

/*---- People Center ----*/
/*-----------------------*/
#people_center {
    width: 440px;
    float: left;
    margin-top: 15px;
}

#people_center tbody{
    width: 440px;
}

#people_center input, select, textarea, div.readonly{
    font-size: 11px;
}

#people_form_Company {
    height: 30px;
}
#people_form_Company label, #people_form_Company input, #people_form_Company div.readonly {
    display: block;
    float: left;
    width: 130px;
    margin-right: 10px;
}

#people_form_Department {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}
#people_form_Department label, #people_form_Department input, #people_form_Department select, #people_form_Department div.readonly {
    display: block;
    float: left;
    width: 130px;
    margin-right: 10px;
}

#people_form_Department #password_button_holder {
    float: left;
    margin-right: 36px;
    height: 10px;
    width: 100px;
}
#people_form_Department div.button {
    font-size: 11px;
    margin-top:-5px;
    height: 13px;
    width: 100%;
}

#people_form_line_3 {
    height: 30px;
    margin-top: 10px;
}
#people_form_line_3 label, #people_form_line_3 input, #people_form_line_3 div.readonly {
    display: block;
    float: left;
    width: 200px;
    margin-right: 10px;
}

#people_form_line_4 {
    height: 60px;
    margin-top: 10px;
}
#people_form_line_4 label, #people_form_line_4 textarea, #people_form_line_4 div.readonly {
    display: block;
    float: left;
    width: 411px;
    margin-right: 10px;
}
#people_form_line_4 textarea {
    height: 75px;
}
#people_form_line_5 {
    margin-top: 45px;
}
#people_form_line_6, #people_form_line_7, #people_form_line_8, #people_form_line_9, #people_form_line_10, #people_form_line_11, #people_form_line_12, #people_form_line_13,#people_form_line_14 {
    height: 30px;
    margin-top: 10px;
    margin-top: 13px;
}
#people_FullName, #people_Company, #people_Department {
    display: block;
    float: left;
    width: 250px;
}
#address__FullName, #address__Company, #address__Department, #address__Address1, #address__Address2 {
    width: 200px;
    float: left;
    margin-right: 50px;
}
#address__voice, #address__fax {
    float: left;
    width: 95px;
}
#address__email {
    float: left;
    width: 178px;
}
#address__state {
    float: left;
    width: 100px;
}
#address__country {
    float: left;
    width: 200px;
}


#people_form_line_15 {
    margin-top: 50px;
}
#people_form_line_15 div.button, #people_form_line_15 div.button2 { 
    height: 11px;
    float: right;
    font-size: 14px;
}
#people_form_line_15 div.button {
    margin-right: 15px;
}
#people_form_line_15 div.button2 {
    width: 100px;
}



/*--- Password Modal ----*/
/*-----------------------*/
div#do_change_password, div#cancel_change_password {
    font-size: 12px;
    margin: 0 5px;
    padding: 3px;
    width: 120px;
    float: left;
}
table#change_password_table td {
    padding: 5px;
}

