/*****************************************************************/
/*****************************************************************/
/********************REVIEW HOME SECTION**************************/
/*****************************************************************/
/*****************************************************************/
#reviews_left {
    width: 155px;
    float: left;
}
#reviews_content {
    width: 750px;
    float: left;
}
#pending_content {
    width: 615px;
}
#reviews_actions, #reviews_by_issue_actions {
    margin-top: 10px;
}
#reviews_actions > ul > li, #reviews_by_issue_actions > ul > li {
    list-style: none;
    float: left;
}
#reviews_actions > ul > li, #reviews_by_issue_actions > ul > li {
    cursor: pointer;
    text-decoration: underline;
}
#reviews_actions  li:hover, #reviews_by_issue_actions li {
    color: black;
}
#reviews_by_issue_actions li a {
		background: white;
}

#reviews_add {
    background: url(../images/Function_Icon/add_16.png) no-repeat scroll left 0 transparent;
}
#review_delete {
}

#reviews_pending {
    background: url(../images/icons/cog.png) no-repeat scroll left 0 transparent;
}
#reviews_unpublished {
    background: url(../images/icons/book_error.png) no-repeat scroll left 0 transparent;
}
#reviews_my {
		background: url(../images/icons/book_link.png) no-repeat scroll left 0 transparent;
}
li#reviews_by_issue {
    background: url(../images/icons/book_go.png) no-repeat scroll left 0 transparent;
}
li#order_to_publish {
		background: url(../images/page_lightning.png) no-repeat scroll left 0 transparent;
}
li#author_info {
		background: url(../images/page_paintbrush.png) no-repeat scroll left 0 transparent;
}


#reviews_search_results > ul  {
    list-style: none;
}

#reviews_search_label {
    font-size:14px;
    margin-bottom: 15px;
}

#reviews_search_results >table>tbody>tr>th {
    text-align: left;
}

/*****************************************************************/
/*****************************************************************/
/********************REVIEW FORM SECTION**************************/
/*****************************************************************/
/*****************************************************************/
div.button {
    font-size: 10px;
    width: 70px;
    margin: 0 !important;
    padding: 2px 6px !important;
}
#reviews_form_content {
    margin-bottom: 25px;
}
#reviews_form_content label {
    font-weight: bold;
}
#book_form {
	height: 120px;
}
#reviewer_form {
    height: 105px;
}

#book_form, #reviewer_form, #review_form, #assoc_editor_form {
    padding-left: 10px;
    padding-top:  5px;
}



/*--- Book Section ---*/
/*--------------------*/
#book_section {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

#book_review__title {
    width: 90%;
}

/*--- Attachment Section ---*/
/*--------------------------*/
#review_attachment_section {
	float: left;
	width: 100%;
	margin-bottom: 50px;
}
#review_attachments {
	margin-left: 20px;
}
#review_attachment_section th{
	font-weight: bold;
	text-align: left;
}
#review_attachment_section td{
	padding-right: 10px;
	text-align: left;
	min-width: 115px;
}
#review_attachment_section #attachment_form_line_1 {
	margin-bottom: 15px;
}
#review_attachment_section table td {
	vertical-align: top;
}
#review_attachment_section input#review_attachment_file {
	float: left;
	margin-right: 15px;
}
#review_attachment_section textarea {
	height: 3.5em;
	width: 225px;
	float: left;
	margin-right: 15px;
}
#review_attachment_section div#upload_attachment {
	float: left;
}
img.delete_attach {
	cursor: pointer;
}

/*--- Review Section ---*/
/*----------------------*/
label#book_review_date_promised, label#book_review_date_recd {
    width: 143px;
}
label#book_review_journal, label#book_review_review_type, label#book_review_issue, label#book_review_pub_order {
    width: 150px;
}
label#book_review_date_sent, label#book_review_date_ct_sent, label#book_review_date_ct_received {
    width: 150px;
}

input#book_review__date_promised, input#book_review__date_received, input#book_review__date_sent, input#book_review__date_ct_sent, input#book_review__date_ct_received {
    width: 100px;
}
input#book_review__publish_order {
    width: 85px;
    margin-right: 109px;
}
select#book_review__issue_month {
    width: 100px;
    margin-right: 2px;
}
#book_review__issue_month.disa

select#book_review__issue_year, input#book_review__issue_year {
    width: 60px;
    margin-right: 125px;
}

input.disabled, select.disabled, textarea.disabled {
    background: white;
    border: none;
    color: black;
}

div#review_form_line_3 {
    float: right;
    position: relative;
    top: -105px;
    left: 55px;
    height: 0px;
}
textarea.reviews {
    width: 100%;
    height: 125px;
}
#review_form > div > label {
    display: inline-block;
    padding: 2px;
}

#review_form_l, #review_form_r {
    float: left;
    width: 300px;
}

/*--- Buttons ---*/
/*---------------*/
#review_buttons {
    clear: left;
}


div#make_review_template, div#save_review, div#discard_review_changes {
    font-size: 10px;
    width: 125px;
    height: 20px;
    float: right;
    margin-left: 20px !important;
    padding: 2px 5px !important;
}

/*****************************************************************/
/*****************************************************************/
/***************ASSIGEND REVIEWS SECTION**************************/
/*****************************************************************/
/*****************************************************************/
#reviews_content > table {
    border-collapse: collapse;
}
tr.assigned_reviews > td.journal {
    text-align: center;
    width: 55px;
}

tr.assigned_reviews > td.issue {
    text-align: center;
    width:85px; 
}


tr.assigned_reviews > td.button > div.button2 {
    font-size:11px;
    padding:2px 3px;
    width: 35px;
}


h4 {
    font-size: 14px;
    text-decoration: underline;
    padding-left: 5px;
}

h4>a, h4>a:visited, h4>a:hover {
    color: #444444
}

/**********************************************************/
/****************REVIEWS SEARCH RESULTS *******************/
/**********************************************************/
/**********************************************************/
#reviews_list {
    width: 750px;
}
#reviews_list > ul {
    list-style: none;
}

#reviews_list li.selected {
    background-color: #2F4279;
    color: white;
    border-top: 1px solid #2F4279;
    border-bottom: 1px solid #2F4279;
}

#reviews_list li {
    cursor: pointer;
    font-size: 13px;
    padding-left: 4px;
    padding-bottom: 2px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    white-space: nowrap;
    overflow-x: hidden;
}

#reviews_list li:hover {
    color: white;
    background-color: #2F4279;
    border-top: 1px solid #2F4279;
    border-bottom: 1px solid #2F4279;
}

#reviews_list li:hover span.result_highlight {
    color: #444444;
}

/**********************************************************/
/****************REVIEWS PENDING **************************/
/**********************************************************/
/**********************************************************/
#ae_list {
    width: 200px;
    overflow-x: hidden;
    float: left;
}

#reviews_pending_total {
    font-weight: bold;
    text-decoration: underline;
    font-size: 16px;
}
div.reviews_pending_name {
    cursor: pointer;
    padding-left: 4px;
}
div.reviews_pending_name:hover {
    background-color: #2F4279;
    color: #FFFFFF;
}
div.reviews_pending_name > span.count {
    width: 25px;
    display: inline-block;
}
div.reviews_pending_name > span.name {
    display: inline-block;
    white-space: nowrap;
    width: 150px;
}

div.pending_reviews {
    width: 550px;
    float: left;
}

div.pending_reviews > div {
    background: #DDDDDD;
    margin: 4px;
}


/**********************************************************/
/****************REVIEWS BY ISSUE *************************/
/**********************************************************/
/**********************************************************/
#journal, #month, #year {
    float: left;
}
#journal {
    width: 180px;
}
#month {
    width: 150px;
}
#year {
    width: 110px;
}

#journal > label, #month > label, #year > label {
    display: inline-block;
    font-weight: bold;
}
